@import './_variables.scss';

.header {
  height: 80px;
  display: flex;
  align-items: center;
  background: $grey;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    font-size: 22px;
    margin: 0 20px;
    padding: 5px;

    a {
      color: aliceblue;
    }
  }
}